apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: custom-scheduler-eks-monitor
  namespace: kube-prometheus-stack
spec:
  endpoints:
  - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    interval: 30s
    path: /metrics
    port: metrics
    scheme: https
  namespaceSelector:
    matchNames:
    - kube-system
  selector:
    matchLabels:
      app: custom-scheduler-eks
